.inline-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  > * {
    padding: 1rem;
  }

  .form-type-item {
    width: 30px;
    align-self: center;
  }
  .form-type-textarea {
    width: 300px;
  }

  input.button {
    align-self: center;
  }
}
